<b id="category">Browse by category</b>
<div class="archives">{{#cats}}
  <a href="{{url}}">{{name}}</a> ({{count}})<br />{{/cats}}
</div>

<b id="date">Browse by date</b>
<div class="archives">{{#months}}
  {{{month}}}<br />{{/months}}
</div>

<b id="entry">Browse by entry</b>
<div class="archives">{{#posts}}
  {{{month-link}}} &mdash; <a href="{{permalink}}">{{TITLE}}</a>
  &mdash; {{{categories3}}}<br />{{/posts}}
</div>
