<?xml version="1.0" encoding="{{cfg.encoding}}"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/">
<title type="html">{{cfg.title}}</title>
<link rel="alternate" type="text/html" href="{{cfg.url}}" />
<link rel="self" type="application/atom+xml" href="{{self-url}}" />>
<updated>{{lastmodified}}</updated>
<id>{{cfg.url}}</id>
<author>
<name>{{cfg.author}}</name>
</author>
{{#entries}}
<entry>
<title type="html">{{TITLE}}</title>
<author>
<name>{{AUTHOR}}</name>
</author>
<link rel="alternate" type="text/html" href="{{permalink}}" />
<id>{{permalink}}</id>
<published>{{ts}}</published>
<updated>{{ts}}</updated>
<dc:subject>{{categories2}}</dc:subject>
<content type="html" xml:lang="{{cfg.lang}}" xml:space="preserve">
<![CDATA[
{{&BODY}}
]]>
</content>
</entry>
{{/entries}}
</feed>
