<div class="item" id="{{entry.ID}}">
<h2 class="date">{{entry.DATE}}</h2>
<div class="blogbody">
<h3 class="title">{{&entry.TITLE}}</h3>
<div class="item-description">
{{&entry.BODY}}
</div>
</div>

<div class="posted">
Author: {{entry.AUTHOR}} |
{{#cfg.permalink}}
<a class="link" title="Article's permanent link" href="{{entry.permalink}}">Permanent link</a>{{/cfg.permalink}}
{{#entry.categories?}}| Categories: {{{categories3}}}{{/entry.categories?}}
</div>
</div>
