<!DOCTYPE html>
<html lang="{{cfg.lang}}">
<!-- HEAD -->
<head>
<title>{{&cfg.title}}</title>
<link rel="stylesheet" href="{{cfg.url}}/{{cfg.style}}" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{feed}}" />
</head>
<!-- BODY -->
<body>
<div id="banner">
<h1><a href="{{cfg.url}}" accesskey="1">{{&cfg.title}}</a></h1>
<span class="description">{{&cfg.description}}</span>
</div>

<div id="container">
<div class="blog">
 <div id="menu" class="menu">
   <a href="{{cfg.url}}">Main page</a><br />
   {{&tab}}
 </div>
 {{&body}}
 <div id="bottommenu" class="menu">
   {{&tab}}
 </div>
</div>
</div>

<div id="links">

<!--
<div class="calendar">
$NB_Calendar
</div>

<div class="side">
$NB_ArticleLinks
</div>

<div class="sidetitle">
Ссылки
</div>

<div class="side">
$NB_MainLinks
</div>
-->

<div class="sidetitle">
Categories
</div>
<div class="side">
{{&categories}}
</div>

<div class="sidetitle">
Archive
</div>
<div class="side">
<a href="{{archive-index}}">Archive Index</a><br />
{{&month-links}}
</div>

<div class="syndicate">
Syndicate this site: <a href="{{feed}}">Atom</a>
</div>

<div class="sidetitle">
Контактная информация
</div>

<div class="side">
$BLOG_CONTACT
</div>

<div class="sidetitle">
Статистика
</div>

<div class="side">
Total number of posts: {{count}}<br />
Last updated: {{last}}
</div>

<div class="powered">
Powered by<br />TeraBlogger<br />
</div>

</div>

</body>
</html>
