<!DOCTYPE html>
<html lang="{{cfg.lang}}">
<!-- HEAD -->
<head>
<title>{{&cfg.title}}</title>
<link rel="stylesheet" href="{{cfg.url}}/{{cfg.style}}" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{feed}}" />
</head>
<!-- BODY -->
<body>
<div id="banner">
<h1><a href="{{cfg.url}}" accesskey="1">{{&cfg.title}}</a></h1>
<span class="description">{{&cfg.description}}</span>
</div>

<div id="container">
<div class="blog">
 <div id="menu" class="menu">
   <a href="{{cfg.url}}">Main page</a><br />
   {{&tab}}
 </div>
 {{&body}}
 <div id="bottommenu" class="menu">
   {{&tab}}
 </div>
</div>
</div>

<div id="links">

<div class="calendar">
$NB_Calendar
</div>

<div style="width: 125px; margin: auto;">
<script type="text/javascript"><!--
google_ad_client = "pub-4154562003350685";
/* 125x125, Main, создано 25.05.09 */
google_ad_slot = "3814655062";
google_ad_width = 125;
google_ad_height = 125;
//-->
</script>
<script async type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="side">
$NB_ArticleLinks
</div>

<div class="sidetitle">
Ссылки
</div>

<div class="side">
$NB_MainLinks
</div>

<div class="sidetitle">
Последние записи
</div>

<div class="side">
$NB_RecentEntries
</div>

<div class="sidetitle">
Разделы
</div>

<div class="side">
$NB_CategoryLinks
</div>

<div class="sidetitle">
Архив
</div>

<div class="side">
<a href="${BLOG_PATH}$ARCHIVES_DIR/$NB_INDEX">Archive Index</a><br />
$NB_MonthLinks
</div>

<div class="syndicate">
Syndicate this site: <a href="${BLOG_PATH}rss.$NB_SYND_FILETYPE">RSS</a>, <a href="${BLOG_PATH}atom.$NB_SYND_FILETYPE">Atom</a>
</div>

<div class="sidetitle">
Контактная информация
</div>

<div class="side">
$BLOG_CONTACT
</div>

<div class="sidetitle">
Статистика
</div>

<div class="side">
$NB_BlogStatus
</div>

<div class="powered">
Powered by<br /><a rel="nofollow" href="http://nanoblogger.sourceforge.net">NanoBlogger $VERSION</a><br />
</div>

</div>

</body>
</html>
