<!DOCTYPE html>
<html lang="{{cfg.lang}}">
<!-- HEAD -->
<head>
<title>{{month}} Archive : {{&cfg.title}}</title>
<link rel="stylesheet" href="{{cfg.url}}/{{cfg.style}}" type="text/css" />
<link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{feed}}" />
</head>
<!-- BODY -->
<body>
<div id="banner">
<h1><a href="{{cfg.url}}" accesskey="1">{{&cfg.title}}</a></h1>
<span class="description">{{&cfg.description}}</span>
</div>

<div id="content">
<div class="blog">
 <div id="menu" class="menu">
   <a href="{{cfg.url}}">Main page</a>
 </div>
 {{&body}}
</div>
</div>

<div id="links">
 <div class="calendar">{{&calendar}}</div>
</div>


</body>
</html>

