<h2 class="date">{{entry.DATE}}</h2>
<div class="blogbody">
<h3 class="title" id="{{entry.hid}}">{{&entry.TITLE}}</h3>
{{&entry.BODY}}
</div>
<div class="posted">
Author: {{entry.AUTHOR}}
{{#entry.categories?}} | Categories: {{{categories3}}}{{/entry.categories?}}
</div>
